@import '../../styles/mixins.scss';

.title {
  font-size: clamp(3rem, 9vw, 10vw);
  // text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  overflow: hidden; 
  font-family: 'Inter Tight', sans-serif;
  letter-spacing: -5px;
}


@include phone-only{
  .title {
    font-size: 50px;
    // text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    overflow: hidden;
  }
  

}