@import '../../styles/mixins.scss';


    .skills {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        gap: 24px;
        height: auto;
        align-items: center;
        border-top: 1px solid #1a1a1a;
        padding-top: 16px;
        padding-bottom: 16px;
        //border-bottom: 1px solid #000;
        //margin-top: 10px;
        //padding-bottom: 30px;
    
        .side{
          font-size: 30px;
          grid-column-start: 1;
          grid-column-end: 4;
          font-weight: 600;
          
        }

      }

      .div2 {
        font-size: 20px;
        grid-column-start: 4;
        grid-column-end: 13;

        ul{
            display: flex;
            flex-wrap: wrap;
            line-height: 2;
            svg{
                margin-right: 8px;
                fill: #1a1a1a;
            }
            li{
                margin-right: 24px;
                
            }
        }
        
    }

    #other{
        border-bottom: 1px solid #1a1a1a;
    }
    @include phone-only{
        .skills{
          display: block;
          padding-top: 20px;
          margin-bottom: 20px;
          .company_name{
            font-size: 26px;
            padding-bottom: 10px;
          }
          .side{
            font-size: 24px;
          }
          .div2{
            font-size: 16px;
            ul{
                display: flex;
                margin-top: 1.5rem;
                flex-wrap: wrap;
            }
          }
        }
    }

    @include tablets-only{
      .skills{
        .side{
          font-size: 24px;
        }
      }
      .div2{
        margin-left: 20px;
        font-size: 14px;
      }
    }