@import '../../styles/mixins.scss';

.container {
    text-align: center;
    margin-top: 250px;
    h2{
      //text-align: left;
      font-size: 20px;
      padding-bottom: 20px;
    }

}

.animation_container{
  &:hover{
    .copy_email{
      opacity: 1;
    }
  }
}
.loop_holder {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .loop_holder__text {
      font-weight: 500;
      animation: textLoop 20s linear infinite;
      font-size: 9vw;
      padding-right: .35em;
      //border-top: 1px solid #000;
      //border-bottom: 1px solid #000;
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 40px;
  }
  
  .spaner{
    font-size: 6vw;
    //color: rgba(170, 255, 0, 1);
  }
  
  @keyframes textLoop {
      0% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }
      100% {
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0)
      }
  }


  .copy_email{
    margin-top: 8px;
    margin-bottom: 200px;
    font-size: 18px;
    border: 1px solid #1a1a1a;
    border-radius: 36px;
    padding: 12px 24px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .4s, opacity .3s ease-out;
    font-weight: 300;
    opacity: 0;
  }

  .copy_email:hover{
    box-shadow: 2px 4px 0px rgb(26, 26, 26);
  }

  @include phone-only{

    .container {
      text-align: center;
      margin-top: 130px;
  }
    .loop_holder__text{
      font-size: 100px;
      gap: 20px;
    }
    .spaner{
      font-size: 70px;
    }
    .copy_email{
      font-size: 20px;
      margin-bottom: 130px;
    }
  }
