@import './mixins.scss';

::-moz-selection { /* Code for Firefox */
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.8);
  background: transparent;
}

::selection {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.8);
  background: transparent;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
li {
  padding: 0;
  margin: 0;
  font-family: 'InterTight', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*{
  scroll-behavior: smooth !important;

}

sup{
  font-size: 65%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
.overflow {
  overflow: hidden;
}

.flex {
  display: flex;
}

.section {
  margin: 150px 0;
  display: grid;
  grid-template-columns: repeat(12,1fr);

  h1{
    padding-top: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
  }
}

.section-part-1{
  grid-column-start: 1;
  grid-column-end: 4;
}

@include phone-only{
  .section{
    display: block;
    margin: 100px 0;
    h1{
      margin-bottom: 25px;
    }
  }

}
@include tablets-only{
  .section{
    h1{
      font-size: 22px;
    }
  }
}

.section-part-2{
  grid-column-start: 4;
  grid-column-end: 12;

  &-paragraph{
    margin-top: 80px;
    font-size: 34px;
    font-weight: 600;
  }
  
}

@include phone-only {
  .nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: fixed;
    font-weight: 500;
  }
}

.nav-bar {
  color: #000;
  position: fixed;
  font-size: 18px;
  top: 0;
  left: 0;
  width: 100vw;

  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  padding: 50px;
  line-height: 1em;
  z-index: 1;

  a:hover{
    color: #000;
  }
}
.infos{
  color: #000;
  position: absolute;
  font-size: 17px;
  display: flex;
  gap: 6px;
  padding: 50px;
  z-index: 1;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.blob {
	background: rgb(17, 171, 243);
	border-radius: 50%;
  margin-top: 5px;
	height: 7px;
	width: 7px;
  margin-right: 6px;
	box-shadow: 0 0 0 0 rgba(17, 171, 243, 0.8);
	transform: scale(1);
	animation: pulse 1s infinite;
}


@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(17, 171, 243, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 6px rgba(17, 171, 243, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(17, 171, 243, 0);
	}
}

.infocontainer{
  display: flex;
  color:black;
  padding: 7px 12px 7px 12px;
  border-radius: 30px;
  background: rgb(137, 207, 240, 0.2);
}

.infotext{
  letter-spacing: 0.1px;
  color: rgb(4, 71, 102);
}

@include phone-only {

  .parent{
    justify-items: center;
  }
  .infos{
    padding: 10px;
    font-size: 12px;
  }
  .blob {
    margin-top: 3px;
    height: 6px;
    width: 6px;
  }

  .infocontainer{
    padding: 6px 12px 6px 12px;
  }
}

.home-loader-wrapper {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: #dfd3c3;
  z-index: 99;
  color: var(--main-color);
  overflow: hidden;
  z-index: var(--loader-index);

  display: flex;
  justify-content: center;
  align-items: center;
  .home-loader-text {
    position: absolute;
    width: 50vw;
    font-size: 20vw;
    font-weight: 800;
    text-transform: lowercase;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.secondary-cursor {
  z-index: var(--cursor-index);

  position: fixed;
  pointer-events: none;
  width: 100px;
  height: 100px;
  background-color: white;
  mix-blend-mode: difference;
  left: 0;
  border-radius: 100%;
  opacity: 0;
  transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.as-visible {
    opacity: 1;
  }
}


@font-face {
  font-family: 'InterTight';
  src: url('./inter-tight/InterTight-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'InterTight';
  src: url('./inter-tight/InterTight-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'InterTight';
  src: url('./inter-tight/InterTight-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'InterTight';
  src: url('./inter-tight/InterTight-Bold.ttf');
  font-weight: 700;
}
