@import './mixins.scss';

::-moz-selection { /* Code for Firefox */
  background-color: #D7FE52;
  color: #1a1a1a;
  // color: transparent;
  // text-shadow: 0 0 5px rgba(0,0,0,0.8);
  // background: transparent;
}

::selection {
   background-color: #D7FE52;
   color: #1a1a1a;
  // color: transparent;
  // text-shadow: 0 0 5px rgba(0,0,0,0.8);
  // background: transparent;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
li {
  padding: 0;
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgba(26, 26, 26, 0.85) rgba(0, 0, 0, 0.1);
}

// *{
//   scroll-behavior: smooth !important;

// }
/* Target all scrollbars */
::-webkit-scrollbar {
  width: 10px; /* Set scrollbar width */
  height: 8px; /* Set scrollbar height */
}

/* Target the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: rgba(26, 26, 26, 0.85); /* Set thumb color */
  border-radius: 30px; /* Add rounded corners */
}

/* Target the scrollbar track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Set track color */
}


sup{
  font-size: 70%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

.overflow {
  overflow: hidden;
}

.flex {
  display: flex;
}

.section {
  margin: 150px 0;
  display: grid;
  grid-template-columns: repeat(12,1fr);

  h1{
    padding-top: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
  }
}

.section-part-1{
  grid-column-start: 1;
  grid-column-end: 4;
}

@include phone-only{
  .section{
    display: block;
    margin: 100px 0;
    h1{
      margin-bottom: 25px;
    }
  }

}
@include tablets-only{
  .section{
    h1{
      font-size: 22px;
    }
  }
}

.section-part-2{
  grid-column-start: 4;
  grid-column-end: 12;

  &-paragraph{
    margin-top: 80px;
    font-size: 34px;
    font-weight: 600;
  }
  
}

.nav-bar {
  color: #1a1a1a;
  position: fixed;
  font-size: 17px;
  top: 0;
  left: 0;
  width: 100vw;
  font-weight: 400;
  display: flex;
  flex-direction: row-reverse;
  padding: 50px;
  line-height: 1em;
  z-index: 1;

  a:hover{
    color: #1a1a1a;
  }
}
.sub-nav{
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}
.menu_link {
  position: relative;
}
.menu_link::before {
  content: '';
  width: 0;
  height: 1px;
  border-radius: 2px;
  background-color: #1a1a1a;
  position: absolute;
  bottom: -.25rem;
  right: 0;
  transition: right .4s, width .4s, left .4s;
}

.menu_link:hover::before {
  width: 100%;
  left: 0;
}
.infos{
  color: #1a1a1a;
  position: absolute;
  font-size: 14px;
  display: flex;
  gap: 6px;
  padding: 44px;
  z-index: 1;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.blob {
  background: #D7FE52;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	transform: scale(1);
	animation: fadeIn 0.9s infinite alternate;
}

@keyframes fadeIn { 
  from { opacity: 0; } 
}

.infocontainer{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px 8px 12px;
  border-radius: 30px;
  background: rgba(26, 26, 26, 0.9);
}

.infotext{
  letter-spacing: 0.5px;
  color: rgba(240,241,242, 0.9);
  font-weight: 400;
}

.burger-menu {
  display: none;/* Hide the burger menu on larger screens */
  .bar {
    background: #1a1a1a;
    border-radius: 15px;
    height: 1px;
    width: 30px;
    margin-bottom: 6px;
    transition: gap 200ms ease-in-out;
    &:first-child {
      transform-origin: top-left;
    }

    &:last-child {
      transform-origin: bottom-left;
    }
  }

  &.open {
    .bar {
      background: #F0F1F2; /* Set the color to white when the menu is open */
      transition: transform 400ms ease-in-out;
    }
    .bar:first-child {
      transform: rotate(45deg) translateX(13px);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:last-child {
      transform: rotate(-45deg) translateX(13px);
    }
  }
}
.mobile_name{
  font-size: 30px;
  color: #F0F1F2;
  margin-bottom: 50px;
}
.mobile_menu_bottom{
  margin-top: 80px;
  border-top: 1px solid #F0F1F2;

  ul{
    display: flex;
    gap: 18px;
    li{
      padding-top: 20px;
      font-size: 20px;
      color: #F0F1F2;
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70%;
  background: #1a1a1a;
  z-index: 2;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 46px;
    text-align: left;

    li {
      margin-bottom: 24px;
      font-weight: 400;
    }

    a {
      color: #F0F1F2;
      text-decoration: none;
      &:hover {
        color: #D7FE52;
      }
    }
  }
}


@include phone-only {

  // .parent{
  //   //justify-items: left;
  // }
  .infos{
    padding: 28px 15px;
    font-size: 15px;
  }
  .blob {
    height: 6px;
    width: 6px;
  }

  .infocontainer{
    padding: 6px 12px 6px 12px;
  }
  .nav-bar{
    display: none;
  }
  .infotext{
    letter-spacing: 0.1px;
  }
  .burger-menu {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 3;

    .bar {
      background: #1a1a1a;
      height: 3px;
      width: 28px;
      margin-bottom: 6px;
    }
  }

  .mobile-menu {
    width: 100%;
  }
}

.home-loader-wrapper {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: #dfd3c3;
  z-index: 99;
  color: var(--main-color);
  overflow: hidden;
  z-index: var(--loader-index);

  display: flex;
  justify-content: center;
  align-items: center;
  .home-loader-text {
    position: absolute;
    width: 50vw;
    font-size: 20vw;
    font-weight: 800;
    text-transform: lowercase;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.secondary-cursor {
  z-index: var(--cursor-index);

  position: fixed;
  pointer-events: none;
  width: 100px;
  height: 100px;
  background-color: #F0F1F2;
  mix-blend-mode: difference;
  left: 0;
  border-radius: 100%;
  opacity: 0;
  transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1),  width 0.4s ease, height 0.4s ease;

  &.as-visible {
    opacity: 1;
  }
  &.copyhover{
    width: 75px;
    height: 75px;
    background-color: #000;
    mix-blend-mode: normal;
    opacity: 0.95;
  }
  &.menuhover{
    width: 0px;
    height: 0px;
  }
  .copy-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
    /* Optionally, adjust positioning for better alignment within the cursor */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F0F1F2;
  }
  &.viewhover{
    width: 75px;
    height: 75px;
    background-color: #000;
    mix-blend-mode: normal;
    opacity: 0.95;
  }
  .view-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    /* Optionally, adjust positioning for better alignment within the cursor */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D7FE52;
  }
}

.top{
  cursor: pointer;
}


@include phone-only{
  .home-container{
    padding: 0 30px!important;
  }
  .secondary-cursor {
    display: none;
  }
  .inside-container{
    margin-top: -250px;
  }
}

@font-face {
  font-family: 'InterTight';
  src: url('./inter-tight/InterTight-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'InterTight';
  src: url('./inter-tight/InterTight-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'InterTight';
  src: url('./inter-tight/InterTight-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'InterTight';
  src: url('./inter-tight/InterTight-Bold.ttf');
  font-weight: 700;
}
